.input-container {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: flex-end;
  max-width: 400px;
  border-radius: 10px;
}

.color-container {
border-left: 1px solid black;
border-right: 1px solid black;
}

.color-div {
  width: 30px;
  height: 30px;
  margin: 15px;
}

input {
  border: none;
  width: 200px;
}

.select-div {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

